.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.pic {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.aside {
    position: absolute;
    width: 100%;
}